<% if @title %>
  <h4 class="title-header"><%= @title %></h4>
<% end %>

<table class="table vertical">
  <% rows.each do |row| %>
    <tr>
      <th class="col-20"><%= row.name %></th>
      <td class="col-80"><%= row.value %></td>
    </tr>
  <% end %>
</table>
